#footer {
  background-color: #1f1f1f;
  color: white;
  width: 100%;
  padding: 60px 0 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-col {
  flex: 1;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo-col {
  flex: 2;
  max-width: 350px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-logo {
  height: 44px;
  width: auto;
  
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
}

.description {
  font-size: 14px;
  line-height: 26px;
  color: #f5f5f5;
  margin-top: 10px;
}

.social-links {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.social-links a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #c92071;
}

.footer-col h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-link {
  color: #cfcfcf;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  transition: color 0.3s;
}

.footer-link:hover {
  color: #c92071;
  text-decoration: underline;
}

.footer-bottom {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin-top: 40px;
  text-align: center;
}

.footer-bottom hr {
  border: 0;
  border-top: 1px solid #3a3a3a;
  margin-bottom: 20px;
}

.footer-bottom p {
  font-size: 13px;
  color: #cfcfcf;
}
@media (max-width: 768px) {
  .footer-content {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    
   
    gap: 0; 
    
   
    padding: 0 20px; 
    align-items: flex-start;
  }

  
  .footer-col {
    flex: unset; 
    min-width: unset; 
    
    
    width: 48%; 
    margin-bottom: 40px;
  }


  .logo-col {
    width: 100%;
    max-width: 100%;
  }


  .footer-content > div:last-child {
    width: 100%;
  }

}